body {
    font-family: 'Roboto', sans-serif;
    color: #a1a1a1;
    background: url(../img/texture_108_3000x3000_dark_by_frostbo-d4js917.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(172, 137, 90, 0.9);
    font-weight: 500;
}

a {
    color: #000000;
    transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #007888;
}

a:focus {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.btn,
a.btn {
    background: #008fa1;
    color: #fff;
    padding: 8px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.btn:hover,
a.btn:hover {
    color: #fff;
    background: #00a5bb;
}

#portrait {
    display: block;
    width: 200px;
    height: 200px;
    background: #5c5c5c00;
    border-radius: 50% 50%;
    background-image: url(../img/portrait.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    margin-bottom: 7rem;
    bottom: 3rem;
    position: relative;
}

.header {
    background: #5c5c5c00;
    color: rgba(255, 255, 255, 0.6);
}

.header a {
    color: rgba(255, 255, 255, 0.6);
}

.header a:hover {
    color: #fff;
    border-color: #fff;
}

.header .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 120px;
}

.header .social {
    margin-bottom: 0;
}

.header .social a {
    color: #a1a1a1;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid #a1a1a1;
}

.header .social a:hover {
    color: #fff;
    border-color: #fff;
}

.header .actions {
    position: absolute;
    right: 15px;
    top: 15px;
}

.header .actions .fa {
    margin-right: 5px;
}

.header .actions a {
    margin-right: 10px;
    color: #fff;
}

.header .actions a:last-child {
    margin-right: 0;
}

.header .profile-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: -80px;
    margin-left: -80px;
    left: 50%;
}

.header .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.header .title {
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.header .presentation {
    background: #70707000;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    font-size: 16px;
}

.header .profile {
    max-width: 800px;
    margin: 0 auto;
}

.header .contact-info {
    background: #666666;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}

.header .contact-info ul {
    margin-bottom: 0;
}

.header .contact-info li {
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.header .contact-info li a {
    color: rgba(255, 255, 255, 0.8);
}

.header .contact-info li a:hover {
    color: #fff;
}

.header .contact-info li:last-child {
    margin-right: 0;
}

.header .contact-info li .fa {
    margin-right: 10px;
}

#pres-title {
    bottom: 8rem;
    position: relative;
}

#contact-link {
    margin-bottom: -3rem;
    position: relative;
    bottom: 4rem;
}

.page-nav-space-holder {
    height: 60px;
    position: relative;
}

.page-nav-wrapper {
    background: rgba(0, 0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.page-nav-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: url(../img/texture_108_3000x3000_dark_by_frostbo-d4js917.png);
}

.page-nav-wrapper a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 500;
}

.page-nav-wrapper .page-nav {
    margin: 0 auto;
    display: inline-block;
}

.page-nav-wrapper .page-nav li {
    margin-right: 30px;
    display: inline-block;
    background: none;
}

.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
    background: none;
}

.page-nav-wrapper .page-nav li a {
    color: rgba(255, 255, 255, 0.6);
    padding: inherit;
}

.page-nav-wrapper .page-nav li a:hover {
    color: #fff;
}

.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
    background: none;
}

.page-nav-wrapper .page-nav li a.active {
    color: #fff;
    background: none;
}

.page-nav-wrapper .page-nav li:last-child {
    margin-right: 0;
}

.cv {
    padding-top: 60px;
    padding-bottom: 60px;
}

#topcontrol {
    transition: all 0.4s ease-in-out;
    background: rgba(172, 137, 90, 0.9);
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

#topcontrol:hover {
    background: rgba(172, 137, 90, 0.555);
    color: #fff;
}

#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
    font-weight: normal;
}

.section {
    -webkit-box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.2);
    padding: 60px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 24px;
    text-align: center;
}

.timeline {
    border-left: 3px solid rgba(172, 137, 90, 0.9);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
}

.timeline .item {
    position: relative;
    margin-bottom: 45px;
}

.timeline .item:last-child {
    margin-bottom: 0;
}

.timeline .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgb(65, 65, 65);
    border: 3px solid rgba(172, 137, 90, 0.9);
}

.timeline .item:after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(172, 137, 90, 0.9);
    z-index: 10;
}

.timeline .work-place {
    position: relative;
}

.timeline .location .fa {
    margin-right: 5px;
}

.timeline .place {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
}

.timeline .job-meta {
    position: absolute;
    left: -280px;
    top: 0;
}

.timeline .job-meta .title {
    font-size: 18px;
    color: rgba(172, 137, 90, 0.9);
}

.timeline .job-meta .time {
    color: #a1a1a1;
}

.timeline .job-desc {
    color: #a1a1a1;
}

.formations .item {
    margin-bottom: 45px;
}

.formations .item-inner {
    padding: 0 30px;
}

.formations .degree {
    font-size: 18px;
    color: rgba(172, 137, 90, 0.9);
    margin-top: 0;
    margin-bottom: 0px;
}

.formations .education-body {
    color: #a1a1a1;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}

.formations .time {
    color: #a1a1a1;
    margin-bottom: 15px;
}

.formations .desc {
    color: #a1a1a1;
}

.competences .subtitle {
    font-size: 18px;
    color: #a1a1a1;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 300;
}

.competences .comp-principal {
    margin-bottom: 60px;
}

.competences .comp-principal .item {
    margin-bottom: 45px;
}

.competences .level {
    color: #a1a1a1;
    margin-bottom: 15px;
}

.competences .desc {
    color: #a1a1a1;
}

.competences .skill-tag {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgba(172, 137, 90, 0.9);
    border-radius: 50% 50% / 50% 50%;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
    color: #a1a1a1
}

.chart-easy-pie {
    position: relative;
}

.chart {
    width: 110px;
    height: 110px;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    color: rgba(172, 137, 90, 0.9);
}

.chart span {
    line-height: 110px;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.footer .container {
    padding: 30px;
    color: #a1a1a1;
    letter-spacing: 0.5px;
}

.footer .container a {
    color: #a1a1a1;
}

/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
    .header .social {
        margin: 0 auto;
        text-align: center;
    }
    .header .actions {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .header .actions .btn {
        margin-bottom: 15px;
        font-size: 12px;
        display: inline-block;
        width: 100%;
    }
    .header .actions .btn:last-child {
        margin-bottom: 0;
    }
    .header .name {
        font-size: 36px;
    }
    .header .title {
        font-size: 22px;
    }
    .header .contact-info li {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 14px;
        width: 100%;
        display: inline-block;
    }
    .header .contact-info li:last-child {
        margin-bottom: 0;
    }
    .section {
        padding: 30px;
    }
    .section-title {
        font-size: 20px;
    }
    .timeline {
        margin-left: 0;
        padding-right: 0;
    }
    .timeline .place {
        margin-bottom: 5px;
    }
    .timeline .job-meta {
        position: static;
        margin-bottom: 15px;
    }
    .formations .item {
        padding: 0;
    }
    .portfolio-section .filters .type {
        font-size: 12px;
        margin-right: 5px;
        padding: 8px 5px;
    }
    .portfolio-section .item-inner .content {
        padding: 15px;
    }
    .portfolio-section .item-inner .content .sub-title {
        font-size: 14px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .portfolio-section .item-inner .content .meta {
        margin-bottom: 30px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .portfolio-section .item-inner .content .action {
        position: static;
        font-size: 12px;
    }
    .contact-section .presentation {
        padding: 0;
        text-align: center;
    }
    .contact-section .presentation .profile-image {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .contact-section .service-list {
        margin-left: 0;
    }
    .contact-section .social {
        margin: 0 auto;
    }
}